#imgLogo{
    width: 20vh;
    height: 20vh;
}
#logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 75vh;
}

p{
    color: rgb(187, 35, 111);
}