body {
    background-image: url("/src/assets/textura.png");
    background-attachment: fixed;
    background-repeat: repeat;
    padding-top: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
}

html {
    margin: 0;
    padding: 0;
}